.c1 {
    color: #548BD4;
}

.ff1 {
    font-family: PingFangSC-Medium;
}
.fs14 {
    font-size: 14px;
}
.fs18 {
    font-size: 18px;
}

.fs28 {
    font-size: 28px;
}

.tx-c {
    text-align: center;
}